@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap');
//шрифты
$base-font: 300 18px 'Roboto', sans-serif;
$base-font-small: 16px 'Roboto', sans-serif;

$base-font-bold: 700 34px 'Roboto', sans-serif;

$artQuiz-font: 700 82px 'Roboto', sans-serif;

//цвета

$background: black;
$font-color: white;

$button-hover-color: white;
$button-active-color: #ffbca2;

//отступы
$gap-gor: 20px;
$gap-vert: 10px;
$footer-gap: 42px;
$buttons-gap: 20px;

$logo-padding-top: 35vh;
$logo-padding-bottom: 5vh;
