@import "fonts.scss";


//шрифты
$neucha: 18px 'Neucha', sans-serif;
$steppe: 300 16px 'Raleway', sans-serif;

//цвет
$background: rgba(25, 47, 45, 1);
$font-color: white;

//отступы
$gap-gor: 100px;
$gap-vert: 50px;
$footer-gap: 42px;

