@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css');

body {
  font: $steppe;
  color: $font-color;
}
.footer-container,
.nav-container {
  padding-right: $gap-gor;
  padding-left: $gap-gor;
}

.run-animation {
  animation: my-animation 1.5s both;
}

@keyframes my-animation {
  0% {
    opacity: 0;
    //transform: translate(-50%);
    //transform: scale(0.9);
  }
  100% {
    opacity: 1;
    //transform: translate(0);

    //transform: scale(1);
  }
}

.fa-snowflake {
  color: #fff;
  position: absolute;
  top: -20px;
  animation: fall linear forwards;
}

@keyframes fall {
  to {
    transform: translateY(105vh);
  }
}


