body{
  font: $steppe;
  color: $font-color;
}
.footer-container{
  padding-right: $gap-gor;
  padding-left: $gap-gor;
}

.run-animation {
  animation: my-animation 2s both;
}

@keyframes my-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}