@import "nouislider.css";

.settings-container{
  background: $background;
  display: flex;
  gap: 3%;
  padding: $gap-vert $gap-gor 0 $gap-gor;
  height: calc(100vh - 80px);
}
.toy-config{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.toy-config-title{
  font: $neucha;
  font-size: 20px;
  text-transform: uppercase;
}
.category-title{
  font: $steppe;
  font-size: 18px;
}
.toy-config-header{
  display: flex;
  gap: 8%;
  .volume,
  .snow{
    border: none;
    background: none;
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 25px;
    width: 36px;
    height: 36px;
  }
  .volume{
    background-image: url("../../assets/svg/audio.svg");
  }
  .snow{
    background-image: url("../../assets/svg/snow.svg");
  }
}

form {
  position: relative;
  max-width: 250px;
  input {
    width: 100%;
    height: 36px;
    padding-left: 10px;
    border: 2px solid #7BA7AB;
    border-radius: 30px;
    outline: none;
    background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
    backdrop-filter: blur(2px);
    border: 2px solid rgba(36, 197, 219, 0.5);
    border-radius: 30px;
    color: $font-color;
  }
  button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 36px;
    height: 36px;
    border: none;
    background: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  button:before {
    content: "\2716";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
  }
}

.toy-config-sort{
  display: flex;
  gap:10%;
  align-items: center;
  select{
    max-width: 180px;
    width: max-content;
    height: 30px;
    padding-left: 16px;
    padding-right: 16px;
    border: 2px solid #7BA7AB;
    outline: none;
    background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(157, 243, 255, 0.2) 100%);
    backdrop-filter: blur(31px);
    border: 2px solid rgba(36, 197, 219, 0.5);
    border-radius: 30px;
    color: $font-color;
    font: $steppe;
    font-size: 12px;
    cursor: pointer;
    option{
      background: rgba(25, 47, 45, 0.8)
    }
  }
}

.toy-config-category{
  display: flex;
  flex-direction: column;
  gap: 15px;
  label,
  input{
    cursor: pointer;
  }
}

  .form{
    display: flex;
    flex-direction: column;
    gap: 5px;

    .form-items{
      display: flex;
      justify-content: space-between;
    }
    .form-item{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
      cursor: pointer;
      transition: all .5s ease-out;

    }
  }
  .form-item-picture{
    border: none;
    background-repeat: no-repeat;
    background-size: contain;
    width: 42px;
    height: 42px;
  }
  .form-item-title{
    font: $steppe;
    font-size: 12px;
  }



.bell-picture{
  background-image: url("../../assets/svg/bell.svg");
}

.ball-picture{
  background-image: url("../../assets/svg/ball.svg");
}

.pine-picture{
  background-image: url("../../assets/svg/pine.svg");
}

.star-picture{
  background-image: url("../../assets/svg/star.svg");
}

.snowflake-picture{
  background-image: url("../../assets/svg/snowflake.svg");
}

.figure-picture{
  background-image: url("../../assets/svg/bird_toy.svg");
}


.number,
.year{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.color{
  display: flex;
  flex-direction: column;
  gap: 5px;
  .color-container{
    display: flex;
    gap: 25px;
    button{
      width: 25px;
      height: 25px;
      border-radius: 5px;
      transition: all .5s ease-out;
    }
  }
}

.size{
  display: flex;
  flex-direction: column;
  gap: 5px;
  input,
  label{
    cursor: pointer;
  }
  .size-container{
    display: flex;
    gap: 5%;
  .size-item{
      display:flex;
    };
  }
}
.favorite{
  input,
  label{
    cursor: pointer;
  }
}
.toy-config-reset{
  display: flex;
  gap: 5%;
  justify-content: space-around;
  .reset-button{
    max-width: 180px;
    width: max-content;
    height: 30px;
    padding-left: 16px;
    padding-right: 16px;
    border: 2px solid #7BA7AB;
    outline: none;
    background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(157, 243, 255, 0.2) 100%);
    backdrop-filter: blur(31px);
    border: 2px solid rgba(36, 197, 219, 0.5);
    border-radius: 30px;
    color: $font-color;
    font: $steppe;
    font-size: 12px;
  }
}


.toy-container{
  flex: 1;
  display: flex;
  flex-direction: column;

  gap: 1%;
  font: $steppe;
  font-size: 10px;
  .toy-container-header{
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    justify-content: space-between;
    .button{
      display: flex;
      justify-content: center;
      font-size: 20px;
      align-items: center;
      width: 25%;
      height: 36px;
      background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
      backdrop-filter: blur(2px);
      border: 2px solid rgba(36, 197, 219, 0.5);
      border-radius: 30px;
    }
    .toy-container-title{
      font: $neucha;
      text-transform: uppercase;
      font-size: 36px;
    }
  }


  .toy-card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    padding: 3%;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0;
    }
    .toy-card{
      display: flex;
      flex-direction: column;
      flex: 1;
      min-width: 220px;
      max-width: 220px;
      gap: 12px;
      background: radial-gradient(109.56% 109.56% at 0% -2.94%, rgba(255, 255, 255, 0.5) 0%, rgba(179, 246, 255, 0.5) 100%);
      backdrop-filter: blur(4px);
      border-radius: 10px;
      padding: 18px 16px;
      cursor: pointer;
      transition: all .5s;

      &:hover{
        transform: scale(1.08);
        transition: all .5s;
      }
      .toy-card-name{
        font: $neucha;
        font-size: 18px;
      }
      .toy-card-image{
        align-self: center;
        background-image: url("../../assets/toys/1.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 85px;
        height: 105px;
      }
    }

  }


}

.no-active{
  filter: brightness(50%);
  transition: all .5s ease-out;
}

.selected{
  animation: shadow 1s infinite alternate;
}

@keyframes shadow {
  from {
    box-shadow: 0 0 5px 5px #734a12;
  }
  to {
    box-shadow: 0 0 10px 5px #734a12;
  }
}

.selected-error{
  align-self: center;
  text-transform: uppercase;
  font-size: 25px;
  color: red;
  opacity: 0;
  transition: all 1s;
}

.error-active{
  opacity: 1;
  transition: all 1s;
  transform: translate(-25%);
}

@media (max-width: 1360px) {
  .toy-card-container{
    justify-content: center;
  }
  .toy-container .toy-card-container .toy-card{
    max-width: max-content;
    flex: 1;
  }
}

@media (max-width: 1220px){
  .settings-container{
    padding: 50px 20px 0 20px;
  }
  .toy-container-title-toys{
    display: none;
  }
  .toy-container{
    .toy-container-header{
      justify-content: space-around;
    }
  }

  .toy-config{
    width: 30%;
  }
  .form-items{
    flex-wrap: wrap;
  }
  .toy-config-title-category{
    display: none;
  }
  .form-item{
    width: 40%;
  }
}

@media (max-width: 970px){
  .toy-config-title-sort{
    display: none;
  }
  .volume,
  .snow{
    display: none;
  }
  .toy-container .toy-card-container .toy-card{
    max-width: 40%;
    min-width: 40%;
  }
}
